body {
    font-family: Arial, sans-serif;
    background: #f0fff4;
    text-align: center;
}

h1 {
    color: #2f855a;
}

.subtitle {
    color: #444;
    margin-bottom: 30px;
}

.section {
    background: white;
    margin: 30px auto;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.hint {
    font-size: 14px;
    color: #666;
}

canvas {
    margin-top: 20px;
}
.impact {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

.card {
    background: #e6fffa;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.card h2 {
    color: #2f855a;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

